wxpython
configobj
requests
typed_ast==1.1.1
astpretty
termcolor
beautifultable
appdirs
py2app
click
pytest
coverage
pytest-cov
black
pydbg
git+https://github.com/sirk390/wxasync@0386f570c669d4db1e61075dbaf75884631a0dc8
aiohttp
async_lru
Pillow

