# linux users please use the script bin/install-linux-* and not this file
configobj
requests
typed_ast
astpretty
termcolor
beautifultable
appdirs

# wheel needed when running pip install ../alsm-parsers/alsm/
# also needed for installing pydbg which is a rust based print debugger thing
wheel

pydbg
aiohttp
async_lru

Pillow
py2app
click
pytest
coverage
pytest-cov

wxpython
wxasync
